<?xml version="1.0" encoding="UTF-8"?>
<plugin
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-streaming-media-xtreme"
		version="2.3.1">

	<name>StreamingMedia</name>

	<description>
		This plugin allows you to launch a fullscreen streaming player for audio or video on Android and iOS.
	</description>

	<author>Nicholas smccamley</author>

	<license>MIT</license>

	<keywords>Streaming, Media, Video, Audio, Android, iOS</keywords>

	<repo>https://github.com/smccamley/cordova-plugin-streaming-media.git</repo>

	<issue>https://github.com/smccamley/cordova-plugin-streaming-media/issues</issue>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/StreamingMedia.js" name="StreamingMedia">
		<clobbers target="streamingMedia" />
	</js-module>

	<platform name="ios">
			<config-file target="config.xml" parent="/*">
					<feature name="HKVideoPlayer">
							<param name="ios-package" value="HKVideoPlayer" onload="true" />
					</feature>
			</config-file>
			<source-file src="src/ios/HKVideoPlayer.swift" />
	</platform>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StreamingMedia">
				<param name="android-package" value="com.smccamley.cordova.plugins.streamingmedia.StreamingMedia" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="orientation|screenSize" android:name="com.smccamley.cordova.plugins.streamingmedia.SimpleAudioStream" android:label="Simple Audio Stream"></activity>
			<activity android:configChanges="orientation|screenSize" android:name="com.smccamley.cordova.plugins.streamingmedia.SimpleVideoStream" android:label="Simple Video Stream"></activity>
		</config-file>
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/SimpleAudioStream.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/SimpleVideoStream.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/StreamingMedia.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/ImageLoadTask.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
	</platform>

	<platform name="amazon-fireos">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StreamingMedia">
				<param name="android-package" value="com.smccamley.cordova.plugins.streamingmedia.StreamingMedia" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="orientation|screenSize" android:name="com.smccamley.cordova.plugins.streamingmedia.SimpleAudioStream" android:label="Simple Audio Stream"></activity>
			<activity android:configChanges="orientation|screenSize" android:name="com.smccamley.cordova.plugins.streamingmedia.SimpleVideoStream" android:label="Simple Video Stream"></activity>
		</config-file>
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/SimpleAudioStream.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/SimpleVideoStream.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/StreamingMedia.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/smccamley/cordova/plugins/streamingmedia/ImageLoadTask.java" target-dir="src/com/smccamley/cordova/plugins/streamingmedia" />
	</platform>
</plugin>
